{% extends 'index.html' %}

{% block title %}
<title>Perfil</title>
{% endblock title %}

{% block texto_header %}
<h1>
    Perfil usuario {{request.user.username}}
</h1>
{% endblock texto_header %}

{% block dsp_del_header %}
<p>
    <ul>
        <li>Nombre: {{request.user.first_name}}</li>
        <li>Apellido: {{request.user.last_name}}</li>
        <li>Email: {{request.user.email}}</li>
    </ul>
    
</p>
<p>
    <a href={% url 'editar_perfil' %}>Editar mis datos</a>
</p>
{% endblock dsp_del_header %}