{% extends 'index.html'%}

{% block title %}
<title>Sobre nosotros</title>
{% endblock title %}

{% block header %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">
            {% block texto_header %}
            <H3> 
                Comunidad DO RE MI fue creado con la finalidad de que puedas cargar una reseña sobre tu/s banda/s, difundir tus shows, conocer nuevas bandas e intercambiar opiniones con otros músicos y/o melómanos.<br>
                <br>Los fundadores del blog somos: 
                <li> Tania  </li>
                <li> Tomas </li>
                <li> Tomas </li>
            </H3>          
            {% endblock texto_header %}
        </div>
        <div class="masthead-heading text-uppercase">
</header>
{% endblock header %}


