{% extends 'index.html'%}

{% block title %}
<title>Sobre nosotros</title>
{% endblock title %}

{% block header %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">
            {% block texto_header %}
            <H3> 
                Comunidad DO RE MI fue creado con la finalidad de que puedas cargar una reseña sobre tu/s banda/s, difundir tus shows, conocer nuevas bandas e intercambiar opiniones con otros músicos y/o melómanos.
                <br>
                <br> <li>Los fundadores del blog somos:
                </li><br> 
                <li>Tania Villanueva, trabajo como contadora y estoy estudiando programación en coderhouse, a parte me gustan los gatos, radiohead y tocar el piano.  </li>
                <br>
                <li>Tomas De Gamas Rey, tengo 31 años, trabajo en telefe, estudio programación en coderhouse y me gusta el gaming.</li>
                <br>
                <li>Tomas Gómez Iza,  tengo 17 años, estoy en mi último año de secundaria, estoy estudiando en coderhouse, el año que viene voy a estudiar licenciatura en informatica, me gusta jugar al fútbol y a la computadora
            </H3>          
            {% endblock texto_header %}
        </div>
        <div class="masthead-heading text-uppercase">
</header>
{% endblock header %}


