{% extends 'base.html' %}

{% block title %}
<title>Crear banda</title>
{% endblock title %}


{% block header %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">
        </div>
        <div class="masthead-heading text-uppercase">
            <h1>
            A continuación podes crear una banda nueva.
            Gracias por tu colaboración!
            Esta comunidad musical la contruimos entre todos =)
            </h1>
        </div>
            </div>
</header>
{% endblock header %}
{% block texto_2 %}
{% endblock texto_2 %}

{% block dsp_del_header %}


<p>
    <h1>Creación de bandas:</h1>
    <form action="{% url 'crear_banda' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        <table>
            {{form.as_table}}
        </table>
        <button>Crear</button>
    </form>
    <a href={% url 'listado_bandas' %}>Volver</a>
</p>

{% endblock dsp_del_header %}