{% extends 'base.html' %}

{% block title %}
<title>Editar banda</title>
{% endblock title %}


{% block texto_header %}
<h1>
    Editar banda
</h1>
{% endblock texto_header %}
{% block texto_2 %}
{% endblock texto_2 %}

{% block dsp_del_header %}


<p>
        <h1>Editar bandas:</h1>
        <form action="{% url 'editar_banda' banda.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <button>Guardar</button>
        </form>
    </p>

            
            
    
{% endblock dsp_del_header %}