{% extends 'base.html' %}

{% block header %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">
        </div>
        <div class="masthead-heading text-uppercase">
            <h1>
            Edita y actualiza la data de {{banda.nombre}}
            </h1>
        </div>
            </div>
</header>
{% endblock header %}

{% block dsp_del_header %}


<p>
        <h1>Información:</h1>
        <form action= "{% url 'editar_banda' banda.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            <table>
                {{form.as_table}}
            </table>
            <button>Guardar</button>
        </form>
    </p>

            
            
    
{% endblock dsp_del_header %}