{% extends 'base.html' %}

{% block title %}

<title>Listado bandas</title>
{% endblock title %}

{% block dsp_del_header %}

<h1>
    Listado de bandas:
</h1>

<hr>

    <div>
        <form action="/bandas/buscar/" method= "GET">
            <input type="text" name = "buscar">
            <input type="submit" value="Buscar">
        </form>
    </div>

<div>
    {% if banda %}
        {% for x in banda %}
            <li>
                {{banda}} 
                El nombre de la banda es {{x.nombre}}, pertenece al palo del {{x.genero}} y esta en actividad desde hace {{x.anios_activa}} años.
                <a href={% url 'editar_banda' %}>Editar</a>
                <a href={% url 'eliminar_banda' %}>Eliminar</a>
            </li>
        {% endfor %}
    {% elif listado_bandas %}
            {% for x in listado_bandas %}
            <li>
                {{banda}} 
                El nombre de la banda es {{x.nombre}}, pertenece al palo del {{x.genero}} y esta en actividad desde hace {{x.anios_activa}} años. 
                <a href={% url 'editar_banda' %}>Editar</a>
                <a href={% url 'eliminar_banda' %}>Eliminar</a>
            </li>
            {% endfor %}
    {% else %}
    {{respuesta}}
    {% endif %}
</div>

{% endblock dsp_del_header %}