{% extends 'base.html' %}

{% block header %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">
        </div>
        <div class="masthead-heading text-uppercase">
            <h1>
            En esta sección podrás consultar el listado de bandas cargadas en este blog!
            </h1>
        </div>
            </div>
</header>
{% endblock header %}

{% block title %}

<title>Listado bandas</title>
{% endblock title %}


{% block dsp_del_header %}

<h1 class="text-center">
    Listado de bandas:
</h1>

<div>
    <form action={% url 'listado_bandas' %} method= "GET">
            {{form}}
            <button>Buscar</button>
    </form>
</div>

<div class="row my-4 text-center">
    {% if listado_bandas %}
            {% for form in listado_bandas %}
            <div class="col-md-4 p-4">
                <div class="card">
                    <div class="review-item">
                        <h2 >{{form.nombre }}</h2>
                        <a href={% url 'mostrar_banda' form.id %}>Mostrar</a>
                        <a href={% url 'editar_banda' form.id %}>Editar</a>
                        <a href={% url 'eliminar_banda' form.id %}>Eliminar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
    {% else %}
            <h3>
                No se encontraron post
            </h3>
    {% endif %}
</div>
{% endblock dsp_del_header %}