{% extends 'base.html' %}

{% block header %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">
        </div>
        <div class="masthead-heading text-uppercase">
            <h1>
            En esta sección podrás consultar el listado de bandas cargadas en este blog!
            </h1>
        </div>
            </div>
</header>
{% endblock header %}

{% block title %}

<title>Listado bandas</title>
{% endblock title %}

{% block dsp_del_header %}

<h1>
    Listado de bandas:
</h1>

<hr>

    <div>
        <form action="/bandas/buscar/" method= "GET">
            <input type="text" name = "buscar">
            <input type="submit" value="Buscar">
        </form>
    </div>

<div>
    {% if banda %}
        {% for x in banda %}
            <li>
                {{banda}} 
                El nombre de la banda es {{x.nombre}}, pertenece al palo del {{x.genero}} y esta en actividad desde hace {{x.anios_activa}} años.
                <a href={% url 'mostrar_banda' x.id %}>Mostrar</a>
                <a href={% url 'editar_banda' x.id %}>Editar</a>
                <a href={% url 'eliminar_banda' x.id %}>Eliminar</a>
            </li>
        {% endfor %}
    {% elif listado_bandas %}
            {% for x in listado_bandas %}
            <li>
                {{banda}} 
                El nombre de la banda es {{x.nombre}}, pertenece al palo del {{x.genero}} y esta en actividad desde hace {{x.anios_activa}} años. 
                <a href={% url 'mostrar_banda' x.id %}>Mostrar</a>
                <a href={% url 'editar_banda' x.id %}>Editar</a>
                <a href={% url 'eliminar_banda' x.id %}>Eliminar</a>
            </li>
            {% endfor %}
    {% else %}
    {{respuesta}}
    {% endif %}
</div>

{% endblock dsp_del_header %}