{% extends 'base.html' %}

{% block title %}
<title>Banda</title>
{% endblock title %}


{% block header %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">
        </div>
        <div class="masthead-heading text-uppercase">
            <h1>
                La banda consultada es {{banda.nombre}}
            </h1>
        </div>
            </div>
</header>
{% endblock header %}


{% block dsp_del_header  %}
<p>
    <h1> {{banda.nombre}} </h1>
</p>

<p>
    <ul>
        
        <img src={{banda.masdatoosposteo.publicacion.url}} alt="" height="50px">    
        <h3>
        Genero: {{banda.genero}}
        <br> 
        </h3>
        Fecha de formación: {{banda.fecha_de_formacion}}
        <br>
        <br>
        Reseña: {{banda.critica | safe }}
        <br>
        <li>
        Fecha de creación: {{banda.fecha_del_post}}
        </li>
        <a href={% url 'listado_bandas' %}>Volver</a>
    </ul>
</p>
{% endblock dsp_del_header  %}

