{% extends 'base.html' %}

{% block title %}
<title>Banda</title>
{% endblock title %}


{% block header %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">
        </div>
        <div class="masthead-heading text-uppercase">
            <h1>
            Hola! veo que te interesa esta banda.
            Para editar y eliminar bandas inicia sesión, create un usuario! 
            </h1>
        </div>
            </div>
</header>
{% endblock header %}


{% block dsp_del_header  %}
<p>
    La banda consultada es:
</p>

<p>
    <ul>
        <li>
            {{banda.nombre}}
        </li>
        <li>
            {{banda.genero}}
        </li>
        <li>
            {{banda.anios_activa}}
        </li>
        <a href={% url 'listado_bandas' %}>Volver</a>
    </ul>
</p>
{% endblock dsp_del_header  %}

