{% extends 'base.html' %}

{% block title %}
<title>Listado bandas</title>
{% endblock title %}


{% block texto_header %}
<h1>
    Listado de bandas
</h1>
{% endblock texto_header %}
{% block texto_2 %}
{% endblock texto_2 %}

{% block dsp_del_header %}
<p>
    <a href={% url 'crear_banda' %}>Crear banda</a>
</p>

</p>
    <form action = {% url 'listado_bandas'%}>
        {{form}}
        <button>Buscar<button>
    </form>
</p>

<p>
    {% if listado_bandas %}
    <ul>
        {% for banda in listado_bandas %}
        <li>
            {{banda}}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    No se encontraron datos.
    {% endif %}
</p>
{% endblock dsp_del_header %}